.container--footer {
  padding-bottom: 12px;
  min-height: 120px;
  background-color: #222222;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 13px;
}

.footer__logo-text {
  display: block;
  color: #ffffff;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  padding-bottom: 4px;

}

.footer__copyright-info {
  margin: 0;
  padding-top: 16px;
  font-size: 12px;
  line-height: 140%;
  color: #DDDDDD;
}

.footer__logo-image {
  padding: 0 5px;
  color: #ffffff;
}