.header {
  padding: 0;
}


.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 32px;
}

.header__logo-link {
  display: flex;
  align-items: center;
}

.header__label-text {
  font-size: 16px;
  line-height: 100%;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Montserrat", "Arial", sans-serif;
  padding: 10px;

}

.header-buttons {
  display: flex;
  gap: 15px;
  width: 181px;
  height: 36px;

}

.header-navigation__list {
  display: flex;
  list-style-type: none;
  width: 295px;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0;
}

.header-navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}

.header-navigation__link--bold {
  font-weight: 700;
}

.header-navigation__menu {
  width: 76px;
  font-size: 14px;
  border: none;
}

.header-buttons__text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #FFFFFF;

}

.header-buttons__message {
  width: 130px;
  color: #FFFFFF;
  display: flex;
  gap: 5px;
  position: relative;
}

.header-buttons__message::before {
  width: 8px;
  height: 8px;
  background-color: #F26E36;
  display: flex;
  content: '';
  position: absolute;
  left: 3px;
  bottom: 22px;
  border-radius: 5px;
}

.header__logo {
  color: #F26E36;
}


select>option {
  background-color: transparent;
  border: 0;
  background-color: #222222;
  color: #FFFFFF;
  padding-right: 15px;
  height: 31px;
  width: 220px;
}
select>option:nth-child(1) {
  background-color: #222222;
  color: #FFFFFF;
}

select>option:nth-last-child {
  background-color: #222222;
  color: #FFFFFF;
}

.select>select {
  width: 100%;
  color: #222222;
  font-size: 14px;
  line-height: 2.5;
  background: transparent;
  border: 0;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
}