.header {
  padding: 32px 0;
  background-color: #FFFFFF;
}


.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-link {
  display: flex;
  align-items: center;
}

.header__label-text {
  font-size: 16px;
  line-height: 100%;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Montserrat", "Arial", sans-serif;

}

.header-buttons {
  display: flex;
  gap: 15px;
  width: 181px;
  height: 36px;

}

.header-navigation__list {
  display: flex;
  list-style-type: none;
  width: 295px;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0;
}

.header-navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}

.header-navigation__link--bold {
  font-weight: 700;
}

.header-navigation__menu {
  width: 76px;
  font-size: 14px;
  border: none;
}

.header-buttons__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #FFFFFF;

}

.header-buttons__message {
  width: 130px;
}