.slide {
    width: 332px;
    border-radius: 15px;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.05);
}

.slide__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    margin: 0;
    padding: 16px 16px 6px;
}

.slide__text {
    font-size: 12px;
    line-height: 140%;
    color: #888888;
    padding: 0 16px 16px;
}

.slide__button {
    margin: 0;
    width: 300px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 100%;
    font-weight: 700;
    margin: 20px 16px 16px
}

.slide__tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.slide__tags-item {
    width: 76px;
    background-color: #F1F1F1;
    border-radius: 6px;
    color: #444444;
    font-size: 12px;
    line-height: 100%;
    font-weight: 600;
    padding: 5px 16px;
    cursor: pointer;

}